@import url("https://use.typekit.net/yov0doz.css");

:root {
  --color-pink: #fc9bf2;
  --color-red: #ec0464;

  --color-baby-blue: #7fd4ff;
  --color-blue: #0b4ac9;

  --color-light-green: #c2ec7d;
  --color-green: #109038;

  --color-light-purple: #d99af0;
  --color-purple: #825194;

  --color-black: #232a25;
  --color-text: #232a25;
  --color-text-inverted: #f8f4e7;
}

.hero-adress {
  font-family: "lacquer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "newshound", sans-serif;
  font-weight: 700;
  font-size: clamp(50px, 5vw, 80px);
  line-height: 1.28;
  letter-spacing: 0.1em;
  color: var(--color-text);
}

h2 {
  font-family: "lacquer", sans-serif;
  font-weight: 400;
  font-size: clamp(22px, 2.5vw, 40px);
  line-height: 1.8;
  letter-spacing: -0.05em;
  color: var(--color-text);
}

h3 {
  font-family: "newshound", sans-serif;
  font-weight: 500;
  font-size: clamp(22px, 2.5vw, 26px);
  line-height: 1.19;
  color: var(--color-text);
}

h4 {
  font-family: "newshound", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.42;
  letter-spacing: 0;
  color: var(--color-text);
}

p {
  font-family: "roboto", sans-serif;
  font-weight: 200;
  font-size: clamp(12px, 1.5vw, 16px);
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.nav {
  font-family: "lacquer", sans-serif;
  font-weight: 400;
  font-style: normal;
}
