---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/style/general.css" />
    <title>Kulturnat</title>
  </head>

  <body>
    <Header
      background="var(--color-text-inverted)"
      hoverColor="var(--color-green)"
    />

    <main>
      <section class="kulturnat">
        <h1>Kulturnat</h1>
        <h2>lørdag d. 5 september kl. 18-23</h2>
        <img
          class="poster"
          src="/img/mate.jpg"
          alt="plakat fra kulturnat-event"
        />

        <div class="content">
          <p>
            Under Kulturnatten åbner vi dørene og byder indenfor med noget
            særligt. Det kan være en udstilling, en optræden, en installation
            eller noget helt fjerde. Kulturnatten handler om at opleve noget
            uventet, og vi er klar til at overraske. Følg med på Instagram for
            at se hvad vi har planlagt i år.
          </p>

          <h3>Vedbækgade 4, 2200 København N</h3>

          <Button label="tilmeld" size="small" />
        </div>
      </section>

      <section class="bar-section">
        <img src="/img/bar.png" alt="illustration af bar" class="bar-image" />
      </section>

      <section class="events">
        <h2>upcoming events</h2>
      </section>
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-text-inverted);
  }

  .kulturnat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .kulturnat h1 {
    grid-column: 1 / 2;
    grid-row: 1/2;
  }

  .kulturnat h2 {
    grid-column: 1 / 2;
    grid-row: 2/3;
  }
  .poster {
    width: 300px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 1rem;
  }
  .content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  h1 {
    font-size: clamp(3rem, 7vw, 6rem);
    line-height: 0.9;

    margin: 0 0 1rem 0;
  }

  p {
    line-height: 1.8;
  }

  h3 {
    font-size: 2rem;
    margin: 1rem 1rem 0.5rem 0;
  }

  .bar-section {
    width: 100%;
    margin-top: 4rem;
  }

  .bar-image {
    width: 100%;
    object-fit: cover;
  }

  .events {
    padding: 6rem 4rem;
    max-width: 1400px;
    margin: 0 auto;
  }

  .events h2 {
    font-size: 3rem;
    margin: 0;
  }

  @media (max-width: 900px) {
    .poster img {
      width: 220px;
    }

    h3 {
      font-size: 1.5rem;
    }

    .events {
      padding: 4rem 2rem;
    }

    .events h2 {
      font-size: 2rem;
    }
  }
</style>
