---
const { background, hoverColor } = Astro.props;
---

<header class="header">
  <div>
    <a href="/"><img src="" alt="Logo" /></a>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="/sortiment">Vores udvalg</a></li>
      <li><a href="/events">Events & arrangementer</a></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    background-color: #fc9bf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    gap: 120px;
    margin-right: 60px;
  }

  .nav a {
    text-decoration: none;
    color: #000;
  }

  .nav ul {
    display: flex;
  }

  p:hover {
    color: fff;
    transition: 0.3s;
  }
</style>
